@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220; /* Darker shade */
  --background-end-rgb: 255, 255, 255; /* Darker shade */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* /* --background-start-rgb: 0, 0, 0;  */
    --background-end-rgb: 0, 0, 0;

    /*  --background-start-rgb: 20, 20, 20;  Almost fully dark */
    /*  --background-end-rgb: 40, 40, 40;  Almost fully dark */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}
